.mobile-only {
	display: none !important;
}

.slicknav_menu {
	display: none;
}

.slicknav_menu .slicknav_menutxt {
	display: none;
}

/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
	.feature-content h2 {
		font-size: 120px;
		letter-spacing: 16px;
	}
	.single-process-item {
		height: 285px;
		padding: 32px 34px;
	}
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
	.vertical-content {
		display: none;
	}
	.products-area {
		padding-bottom: 90px;
	}
	.feature-content {
		background-position: center right;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.single-process-item {
		padding: 40px 20px;
		height: 285px;
	}
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.mobile-only {
		display: inline-block !important;
	}
	.search-icon {
		display: none;
	}
	.feature-content h2 {
		font-size: 162px;
	}
	.vertical-content {
		display: none;
	}
	.products-area {
		padding-bottom: 90px;
	}
	.feature-content {
		background-position: center right;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

/* small mobile :320px. */
@media (max-width: 767px) {
	.mobile-only {
		display: inline-block !important;
	}
	.search-icon {
		display: none;
	}
	.slider-content h2 {
		font-size: 44px;
		line-height: 1.1;
	}
	.slider-height {
		height: 450px;
	}
	.slider-content {
		padding: 160px 0;
	}
	.category-tittle li {
		margin: 0px 10px;
	}
	.search-box {
		text-align: center;
		margin-top: 15px;
	}
	.products-area {
		padding-bottom: 90px;
	}
	.feature-thumbnail img {
		max-width: 100%;
	}
	.price-tag {
		height: 140px;
		width: 140px;
		right: 10px;
		bottom: 10px;
	}
	.price-tag h5 {
		font-size: 28px;
	}
	.vertical-content {
		display: none;
	}
	.feature-content h2 {
		font-size: 45px;
		letter-spacing: 10px;
	}
	.feature-text {
		margin-left: 0;
		padding: 100px 30px;
	}
	.feature-text p {
		padding-right: 0;
	}

	.footer-area {
		padding-bottom: 0;
	}
	.bottom-area p {
		text-align: center;
	}
	.bottom-area img {
		display: block;
		margin: 0 auto;
	}
	.products-area {
		padding: 20px 0;
	}
}

/* @media screen and (max-width: 1100px) {} */
@media screen and (min-width: 991px) {
	.search-for-mobile {
		display: none !important;
	}
}

@media screen and (max-width: 991px) {
	#menu {
		display: none;
	}

	.slicknav_menu {
		display: block !important;
	}

	.mobile-hide {
		display: none;
	}

	.user-item {
		float: left;
	}

	.slicknav_menu {
		background: transparent;
	}

	.slicknav_nav {
		width: 100%;
	}

	.slicknav_btn {
		background: transparent;
		color: #000;
		margin-top: 7px;
		top: -20px;
	}

	.slicknav_icon {
		font-size: 18px;
		color: #000;
	}

	.slicknav_icon-bar {
		margin-bottom: 5px;
		height: 1px;
		width: 22px;
		background: #333;
	}

	.slicknav_nav li {
		width: 100%;
		display: inline-block;
		text-align: left;
		border-bottom: 1px solid #f1f1f1;
		border-bottom: 1px solid #f1f1f1;
		padding: 0;
	}

	.slicknav_nav li:last-child {
		border: none;
	}

	.slicknav_nav a {
		padding: 15px 0px !important;
		border-radius: 0;
		color: #444444;
		text-transform: uppercase;
	}

	.slicknav_nav a:hover {
		color: #8ed1b7;
		border-radius: 0;
		background: transparent;
	}
	.navigation {
		padding-bottom: 0;
	}

	.user-action-wrapper {
		display: block !important;
	}
	.user-action {
		float: left;
	}
}
