.slicknav_menu {
    display: none;
}

.slicknav_menu .slicknav_menutxt {
    display: none;
}

/* @media screen and (max-width: 1100px) {} */
@media screen and (min-width: 991px) {
    .search-for-mobile {
        display: none !important;
    }
}

@media screen and (max-width: 991px) {
    .js #menu {
        display: none;
    }

    .js .slicknav_menu {
        display: block;
    }

    .mobile-hide {
        display: none;
    }

    .user-item {
        float: left;
    }

    .slicknav_menu {
        background: transparent;
    }

    .slicknav_nav {
        width: 100%;
    }

    .slicknav_btn {
        background: transparent;
        color: #000;
        margin-top: 7px;
    }

    .slicknav_icon {
        font-size: 18px;
        color: #000;
    }

    .slicknav_icon-bar {
        margin-bottom: 5px;
        height: 1px;
        width: 22px;
        background: #333;
    }

    .slicknav_nav li {
        width: 100%;
        display: inline-block;
        text-align: left;
        border-bottom: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
        padding: 0;
    }

    .slicknav_nav li:last-child {
        border: none;
    }

    .slicknav_nav a {
        padding: 15px 0px !important;
        border-radius: 0;
    }

    .slicknav_nav a:hover {
        color: #8ed1b7;
        border-radius: 0;
        background: transparent;
    }

    /* featur-content */
    .featur-content {
        padding: 0 20px;
    }

    .featur-content h1 {
        font-size: 40px;
        top: 12px;
    }

    .info-tittle {
        padding: 50px 10px;
        margin: 0;
    }

    .vertical-content img {
        width: 50px;
        height: auto;
    }

    .vertical-content h4 {
        letter-spacing: 24px;
        font-size: 18px;
        padding: 12px;
    }

    .price-tag {
        height: 80px;
        width: 80px;
        right: 10%;
        bottom: 10%;
    }

    .price-tag h5 {
        font-size: 110%;
    }
}

@media screen and (max-width: 767px) {
    .slider-content h4 {
        font-size: 50px;
        margin-bottom: 10px;
    }

    .slider-content h1 {
        font-size: 60px;
        line-height: 60px;
    }

    .slider-content h1 span {
        font-size: 30%;
    }

    .vertical-content {
        display: none;
    }

    .data-tittle {
        text-align: center;
    }

    .data-tittle li {
        margin: 0;
        margin-right: 10px;
    }

    .single-footer-item {
        margin: 20px 0px;
    }

    .bottom-area p {
        text-align: center;
    }

    .search-box {
        text-align: center;
    }
}

/*@media screen and (max-width: 600px) {}*/
@media screen and (max-width: 400px) {
    .user-item a {
        margin-left: 10px;
    }

    .slicknav_btn {
        margin: 0;
        padding: 14px;
    }

    .home-slider-item {
        padding: 80px 0px;
    }

    .slider-content h1 {
        font-size: 38px;
        line-height: 38px;
    }

    .slider-content h4 {
        font-size: 30px;
        line-height: 30px;
    }

    .slider-content h1 span {
        font-size: 40%;
        line-height: 24px;
    }

    .slider-content i {
        font-size: 14px;
    }

    .slider-content a {
        font-size: 11px;
    }

    .data-tittle li {
        margin-right: 6px;
    }
}

/*@media screen and (max-width: 500px) {}*/